<div class="card">
  <div class="card-header">
    <div class="float-start">Registraciju sąrašas</div>
    <div class="float-end" *ngIf="isLoggedIn">
      Vartotojas: {{ user?.email }}
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Vardas</th>
          <th>Pavardė</th>
          <th>Gimimo metai</th>
          <th>Lytis</th>
          <th>El.pašto adresas</th>
          <th>Telefonas</th>
          <th>Klasė</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of registrations">
          <td>{{ registration.name }}</td>
          <td>{{ registration.surname }}</td>
          <td>{{ registration.year }}</td>
          <td>{{ registration.gender }}</td>
          <td>{{ registration.email }}</td>
          <td>{{ registration.phone }}</td>
          <td>{{ registration.class_name }}</td>
          <td>
            <div *ngIf="isLoggedIn">
              <a
                [routerLink]="['/update', registration.id]"
                class="btn btn-success btn-sm"
                >Redaguoti</a
              >&nbsp;<button
                class="btn btn-danger btn-sm"
                (click)="deleteRegistration(registration.id)"
              >
                Trinti
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!isLoggedIn">
      <button class="btn btn-success" routerLink="/login">Prisijungti</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button class="btn btn-success" (click)="onLogout()">Atsijungti</button>
    </div>
  </div>
</div>
